body {
  background-color: #c2bfbf;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  margin: 2rem 0rem 4rem 0rem;
  letter-spacing: 3px;
  text-transform: lowercase;
}

h2 {
  font-size: 1.2rem;
}

h4 {
  font-size: 15px;
  font-weight: 700;
}

h5 {
  font-size: 2.25rem;
  text-align: center;
  text-transform: uppercase;
}

img {
  width: 50px;
}

iframe {
  width: 100%;
  min-height: 25rem;
}

.user-name, .user-age {
  font-weight: 700;
}

#user-name, #user-age {
  width: 25%;
}

.col-12 {
  margin-bottom: 20px;
}

.results {
  display: none;
  background-color: #ffffff;
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding: 10px;
}

.question {
  background-color: #ffffff;
  padding: 5px;
  border: 1px solid lightgrey;
  margin-bottom: 5px;
}

.btn {
  background-color: #000000;
  text-transform: uppercase;
  color: white;
}

.copy {
  font-size: 1.8rem;
}

.q2 label:first-child, .q4 label:first-child {
  margin-right: 20px;
}

@media screen and (max-width: 991px) {
  .row {
    text-align: center;
  }
}
